.loader {
    border: 1rem solid #f3f3f3;
    border-top: 1rem solid #3498db;
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    animation: spin 2s linear infinite;
    margin: auto;
    margin-top: 5rem;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.tableName {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}
.dataTable {
  table-layout: fixed;
  width: 100%;
}
thead th {
  background-color: lightblue;
  width: 15%;
  padding: 0.4rem 0;
}

tr:nth-child(odd) {
  background-color: #fff;
}

tr:nth-child(even) {
  background-color: #eee;
}

table td {
  text-align: center;
  padding: 0.2rem 0;
  word-wrap: break-word;
}

.UDIContainer {
  text-align: center;
  position: relative;
}

.seeUDI{
  color: gray;
  border-bottom: 1px dotted gray;
  cursor: pointer;
}

.UDIContainer .UDItip {
  visibility: hidden;
  width: 10rem;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 2;
  top: 110%;
  left: 20%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 1s;
}

.UDIContainer .UDItip::after{
  content: "";
  position: absolute;
  bottom: 100%;
  left: 40%;
  margin-left: 5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #555 transparent;
}

.UDIContainer:hover .UDItip {
  visibility: visible;
  opacity: 1;
}

.form {
  position: relative;
  text-align: center;
  margin-top: 2rem;
}

.badUDIReminder, .repeatUDI {
  visibility: hidden;
  background-color: #f7a894;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  top: 120%;
  left: 38%;
  padding: 0.4rem;
}

.badUDIReminder.show, .repeatUDI.show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

input[type=text] {
  font-size: 1rem;
  border: 1px solid gray;
  border-radius: 3px;
}

input[type=submit] {
  margin-left: 1rem;
  background-color: #abeaae;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  color: black;
}

footer {
  margin-top: 1.5rem; 
  text-align: center;
  color: #ddd;
  font-size: 0.8rem;
}

@media only screen and (max-width: 715px) {
  table, thead, tbody, th, td, tr {
    display: block;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #ccc;
  }

  table td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding: 0.4rem;
    padding-left: 30%;
    text-align: right;
  }

  td:before {
    text-align: left;
    font-weight: bold;
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space:nowrap;
  }
  /*label the data: */
  td:nth-of-type(1):before {content: 'No.';}
  td:nth-of-type(2):before {content: 'Lot Number';}
  td:nth-of-type(3):before {content: 'Serial Number';}
  td:nth-of-type(4):before {content: 'Expiration Date';}
  td:nth-of-type(5):before {content: 'Manufacturing Date';}
  td:nth-of-type(6):before {content: 'Agency';}
  td:nth-of-type(7):before {content: 'UDI';}

  .UDIContainer {
    text-align: right;
  }

  .UDIContainer .UDItip {
    left: 80%;
  }
}

@media only screen and (max-width: 560px) {
  
  .UDIContainer .UDItip {
    left: 68%;
  }
}

